.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    /*if we don't add z-index it will be transparent  */
    z-index: 100;
    background-color: white;
}

.header__logo{
    height: 25px;
    align-items: center;
    object-fit: contain;
    margin-left: 20px;

}

.header__left{
    display: flex;
    align-items: center;
}


.header__icons{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header__input{
    display: flex;
    align-items: center;
    border: 2px solid lightgray;
    width: 40%;


}

.header__input > input {
    border: none;
    flex: 1;

}

.header__inputButton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;

}